/* Custom styles */
body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #f8f9fa;
    padding: 20px 0;
}

header h1 {
    color: #343a40;
    font-weight: bold;
}

footer {
    margin-top: 200px;
}

a {
    text-decoration: none;
    color: #33974d;
}

nav .navbar-nav .nav-item {
    margin-right: 10px;
}

main {
    padding: 20px 0;
}

section h2 {
    color: #343a40;
    font-weight: bold;
    margin-bottom: 20px;
}

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 200px;
    object-fit: cover;
}

.card-title {
    font-size: 20px;
    font-weight: bold;
}

.card-text {
    color: #6c757d;
}

.py-3 {
    background-color: rgba(255, 255, 255, 1);
}

* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
}

.templateBtn {
    padding: 20px;
    border-radius: 10px;
    border-bottom-right-radius: 70px;
    border-top-left-radius: 70px;
    background-color: #33974d;
    width: 495px;
    color: rgb(250, 250, 250);
    font-family: "Roboto", sans-serif;
    font-size: 48px;
    opacity: 1;
    transition: 0.5s;
    text-align: left;
}

.templateBtn:hover{
    border-radius: 10px;
    border-bottom-left-radius: 70px;
    border-top-right-radius: 70px;
    transition: 0.5s;
}

.templateBtn .nav-link {
    text-align: center;
}

.homeMessage {
    margin-bottom: 35px;
    width: 629px;
    color: rgba(104, 104, 104, 1);
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 35px;
    opacity: 1;
    text-align: left;
}

.homeCompany {
    margin-bottom: 25px;
    width: 490px;
    color: rgba(0, 0, 0, 1);
    font-family: "Roboto", sans-serif;
    font-weight: Bold;
    font-size: 100px;
    opacity: 1;
    text-align: left;
}

.homeGreet {
    width: 315px;
    color: rgba(104, 104, 104, 1);
    font-family: "Roboto", sans-serif;
    font-weight: Bold;
    font-size: 45px;
    opacity: 1;
    text-align: left;
}

.homeMain {
    padding: 50px;
    padding-top: 100px;
}

.homeContent {
    width: 100%;
}

.homeContentContainer {
    padding: 30px;
    padding-left: 100px;
}

.homeMid {
    margin-top: 150px;
    padding: 100px;
    background-color: #33974d;
}

.homeMidHeading {
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
}

.homeMidHeading h1{
    color: rgb(250, 250, 250);
    font-family: "Roboto", sans-serif;
    font-size: 60px;
    font-weight: 300;
}

.homeMidDesc {
    margin: auto;
    margin-bottom: 70px;
    text-align: center;
    width: 700px;
}

.homeMidDesc p {
    color: rgb(250, 250, 250);
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 300;
}

.homeMidSearch {
    margin-bottom: 70px;
}

.homeMidBar {
    margin: auto;
}

.homeMidBar input {
    height: 80px;
    border-radius: 50px;
    text-align: center;
    font-size: 25px;
}

.homeCatBtn {
    color: rgb(250, 250, 250);
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 300;
    padding: 10px;
    border: 1px solid white;
    border-radius: 20px;
    transition: 0.1s;
}

.homeCatBtn .nav-link {
    text-align: center;
}

.homeCatBtn:hover {
    background-color: white;
    color: #33974d;
    transition: 0.1s;
}

.homeImage img {
    width: 100%;
    margin: auto;
}

.homeTemplates {
    padding: 150px;
}

.templateCardBtn{
    background-color: #33974d;
    border-radius: 17px;
    border: none;
    transition: 0.3s;
}

.templateCardBtn:hover{
    background-color: #5b5b5b;
    transition: 0.3s;
}

.uploadBorder {
    margin-top: 50px;
    border-radius: 50px;
    border-color: #33974d!important;
}

.uploadBorder input{
    border: none;
}

.uploadHeading {
    margin-top: 100px;
}

button {
    background-color: #33974d!important;
}